
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    background-color: blue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{ 
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.7s ease;
}

.logo:hover{
    color: yellow;
    transform: scale(1.1);
    text-decoration: none;
}

.navigation a{ 
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding-left: 30px;
    transition: 0.7s ease;
}

.navigation a:hover{ 
    color: yellow;
    text-decoration: none;
    transform: scale(1.1);
}

.call-center{
   display: flex;
   justify-content: space-between;
   position: relative;
   top: 100px;
   padding: 30px;
}

.call-center h2{
        color: blue;
        position: relative;
        left: -200px;
        top: 300px;
        font-size: 40px;
        font-weight: 700;
        transition: 0.7s ease;
}

.call-center h2:hover{
    color: yellow;
    transform: scale(1.1);
}

/* From uiverse.io by @mobinkakei */
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    left: 700px;
    top: 200px;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    
    border-radius: 50%;
    background-color: blue;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .Vodafone { 
    display: flex;
    justify-content: space-between;
  }

  .Vodafone img{
    width: 1000px;
  }

  .Vodafone p {
    color: blue;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 60%;
    top: 160%; 
    font-size: 30px;
    font-weight: 700;
    transition: 0.7s ease;
  }

  .Vodafone p:hover{
    transform: scale(1.1);
    color: red;
  }

  .egypt-post { 
    display: flex;
    justify-content: space-between;
  }

  .egypt-post img {
    width: 1000px;
    position: absolute;
    left: -100px;
  }

  .egypt-post p {
    color: blue;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 45%;
    top: 280%; 
    font-size: 15px;
    font-weight: 700;
    transition: 0.7s ease;
  }

  .egypt-post p:hover{
    transform: scale(1.1);
    color: green;
  }

  .talabat { 
    display: flex;
    justify-content: space-between;
  }

  .talabat img {
    width: 1000px;
    position: absolute;
    left: -100px;
  }

  .talabat p {
    color: blue;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 360%; 
    font-size: 13px;
    font-weight: 700;
    transition: 0.7s ease;
  }

  .talabat p:hover{
    transform: scale(1.1);
    color: #f04e07;
  }
  